page-home {
    
    ion-content{

    background-image: url(../../assets/imgs/bar-1846137_1920.jpg);
    background-size: cover;
    background-position: 35%;
    
    }

    button{
        color:white!important;
        font-weight: bold;
        margin-top: 75% !important;
    }

}

