page-home {
    
    ion-content{

    background-image: url(../../assets/imgs/bar-1846137_1920.jpg);
    background-size: cover;
    background-position: 35%;
    
    }

    button{
        color:#3F3D3E;
        font-weight: bold;
    }

    ion-card{
        background-color: #3F3D3E!important; 
        color:#9DE4D1;
    }

    ion-card-header {
        font-size: 22px!important;
        color:#9DE4D1!important;
    }

    ion-card-content {
        font-size: 16px!important;
    }

    .swiper-pagination-bullet-active{
        background-color: #9DE4D1!important;
    }
}

