page-login {

  .toolbar-background {
    background: transparent;
    border: 0px !important;
  }

  .toolbar-title {
    color: white;
    text-align: center;

    img {
      width: 49px;
      height: 27px;
    }
  }

  ion-header::after {
    display: none;
  }

  .back-button {
    position: absolute;
    z-index: 99;
    color : white!important;
  }

  ion-content {
    background: rgba(157, 228, 209, 1);
    background: -moz-linear-gradient(45deg, rgba(157, 228, 209, 1) 0%, rgba(10, 226, 168, 1) 69%, rgba(10, 226, 168, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(157, 228, 209, 1)), color-stop(69%, rgba(10, 226, 168, 1)), color-stop(100%, rgba(10, 226, 168, 1)));
    background: -webkit-linear-gradient(45deg, rgba(157, 228, 209, 1) 0%, rgba(10, 226, 168, 1) 69%, rgba(10, 226, 168, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(157, 228, 209, 1) 0%, rgba(10, 226, 168, 1) 69%, rgba(10, 226, 168, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(157, 228, 209, 1) 0%, rgba(10, 226, 168, 1) 69%, rgba(10, 226, 168, 1) 100%);
    background: linear-gradient(45deg, rgba(157, 228, 209, 1) 0%, rgba(10, 226, 168, 1) 69%, rgba(10, 226, 168, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9de4d1', endColorstr='#0ae2a8', GradientType=1);

    text-align: center;

  }

  .en-tete{
      color : white;
      padding-top : 50px!important;
      margin-bottom: 50px!important;

      h1{
          font-size: 30px;
          margin-bottom: 0;
      }

      .subtitle{
          font-weight: 300;
      }
  }

  .formulaire{
      ion-list{
        -webkit-box-shadow: 0px 0px 62px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 62px -20px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 62px -20px rgba(0,0,0,0.75);

        border : none;

        margin-bottom : 10px;

        background-color: white;
        border-radius: 5px!important;
      }

      ion-item{
        font-weight: 300;
        border-radius: 5px!important;
      }


      button{
        -webkit-box-shadow: 0px 0px 62px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 62px -20px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 62px -20px rgba(0,0,0,0.75);


        color : color($colors, primary-vive);
        background-color: white;
        font-weight: 500;

        border-radius: 5px;
      }
  }


}
