// http://ionicframework.com/docs/theming/


@font-face {
    font-family: 'Righteous';
    src: url('../assets/font/Righteous-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

h1, h2, H3{
    font-family: 'Righteous';
}

ion-card-title{
    font-family: 'Righteous';
}

*{
    font-family : 'Roboto';
}