<ion-header>
  <ion-navbar>
    <ion-title>
      Mes Fyves
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewGraphePage()">
        <ion-icon name="stats"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <div class="vert"></div>

  <div class="container">

    <div [ngSwitch]="section">

      <div *ngSwitchCase="'recus'">
        <h1>{{totalRecus.toFixed(2)}}€</h1>
        <h3>Mes Fyves reçus</h3>

        <ion-list>
          <ion-list-header>
            <span item-start>Date</span>
            <span style="width:50%;">Le donneur</span>
            <span item-end>Montant</span>
          </ion-list-header>
          <ion-item *ngIf="lesPaiementsRecus.length==0">Vous n'avez pas encore reçus de pourboire</ion-item>
          <ion-item *ngFor="let item of lesPaiementsRecus">
            <span item-start class="date">{{item.date | date:'d MMM'}}</span>
            <span style="width:50%;">par <b>{{ getNomUser(item.idDonneur)}}</b></span>
            <ion-badge item-end>{{item.montant.toFixed(2)}}€</ion-badge>
          </ion-item>
        </ion-list>

      </div>



      <div *ngSwitchCase="'donnes'">
        <h1>{{totalDonnes.toFixed(2)}}€</h1>
        <h3>Mes Fyves donnés</h3>

        <ion-list>
          <ion-list-header>
            <span item-start>Date</span>
            <span style="width:50%;">Le donneur</span>
            <span item-end>Montant</span>
          </ion-list-header>
          <ion-item *ngIf="lesPaiementsDonnes.length==0">Vous n'avez pas encore donnés de pourboire</ion-item>
          <ion-item *ngFor="let item of lesPaiementsDonnes">
            <span item-start class="date">{{item.date | date:'d MMM'}}</span>
            <span style="width:50%;">à <b>{{ getNomUser(item.idReceveur)}}</b></span>
            <ion-badge item-end>{{item.montant.toFixed(2)}}€</ion-badge>
          </ion-item>
        </ion-list>

      </div>

    </div>

  </div>

  

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-segment [(ngModel)]="section">
      <ion-segment-button value="recus">
        Reçus
      </ion-segment-button>
      <ion-segment-button value="donnes">
        Donnés
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
