<ion-header>
  <ion-navbar>
    <ion-title>
      Historique des paiements
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <div [ngSwitch]="section">

    <div *ngSwitchCase="'recus'">
      <h2>Total</h2>
      <h1>{{totalRecus.toFixed(2)}}€</h1>

      <ion-list>
          <ion-list-header>
              Mes pourboires reçus
            </ion-list-header>
        <ion-item *ngIf="!lesPaiementsRecus">Vous n'avez pas encore reçus de pourboire</ion-item>
        <ion-item *ngFor="let item of lesPaiementsRecus">
          <span item-start style="width:50%;">par <b>{{ getNomUser(item.idDonneur)}}</b></span>
          <span>{{item.date | date:'d MMM'}}</span>
          <ion-badge item-end>{{item.montant.toFixed(2)}}€</ion-badge>
        </ion-item>
      </ion-list>

    </div>



    <div *ngSwitchCase="'donnes'">
      <h2>Total</h2>
      <h1>{{totalDonnes.toFixed(2)}}€</h1>

      <ion-list>
          <ion-list-header>
              Mes pourboires donnés
            </ion-list-header>
        <ion-item *ngIf="!lesPaiementsDonnes">Vous n'avez pas encore reçus de pourboire</ion-item>
        <ion-item *ngFor="let item of lesPaiementsDonnes">
          <span item-start style="width:50%;">à <b>{{ getNomUser(item.idReceveur)}}</b></span>
          <span>{{item.date | date:'d MMM'}}</span>
          <ion-badge item-end>{{item.montant.toFixed(2)}}€</ion-badge>
        </ion-item>
      </ion-list>

    </div>

  </div>



  <ion-footer>
    <ion-toolbar>
      <ion-segment [(ngModel)]="section">
        <ion-segment-button value="recus">
          Reçus
        </ion-segment-button>
        <ion-segment-button value="donnes">
          Donnés
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>


</ion-content>
