<ion-header>
  <ion-navbar>
    <ion-title>
      Serveur
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="vert"></div>

  <div class="logo-profil">
    <img src="../../assets/imgs/userBarman.png" />
  </div>

  <div class="container">
    <ion-badge><span *ngIf="nbAvis">{{noteMoyenne.toFixed(2)}}★</span> ({{nbAvis}} avis)</ion-badge>
    <h2>
      {{profil.prenom}} {{profil.nom}}
    </h2>
    <p class="description">
      {{profil.description}}
    </p>


    <div padding>
      <button ion-button block round color="primary-vive" (click)="paiement()">Fyve me !</button>
    </div>

    <ion-list>
      <ion-item-divider text-left color="secondary">
        <ion-label>
          Les avis
        </ion-label>

        <button ion-button item-end outline (click)="alertAvis()">
          Ajouter un avis
        </button>
      </ion-item-divider>
    </ion-list>

    <div class="list-comment">
      <ion-card *ngFor="let item of lesAvisRecus">
        <ion-card-title padding>
          {{ getNomUser(item.idClient)}}
          <ion-badge>{{item.note}}★</ion-badge>
        </ion-card-title>

        <ion-card-content>
          <p>{{item.commentaire}}</p>
          <ion-note style="float: right;">
            {{item.date | date:'d MMMM y'}}
          </ion-note>
        </ion-card-content>
      </ion-card>
    </div>





  </div>



</ion-content>
